body {
  /* max-width: 10%; */
  margin: 0 auto;
  width: 80%;
  font-family: Arial, sans-serif;
  background-color: #464646;
}


h1 {
  text-align: center;
  color: #DFDFDF; 
}

h2 {
  color: #DFDFDF;
  text-align: center;
  font-size: 20px;
}

/* adding h4 */

h4{
  color: #DFDFDF;
  text-align: center;
  font-size: 12px;
}

p {
  color: #DFDFDF;
  text-align: center;
  font-size: 20px;
}

input[type=text] {
  width: 100%;
  border: none;
  border-bottom: 2px solid rgb(32, 0, 0);
  background-color: #320000;
  padding: 10px;
  outline: none;
  color: #DFDFDF;
}

input[type=number] {
  /* tova go commentnah, zashtoto centrira teksta v kutiqta, ne samata kutiq */
  /* text-align: center; */

  /* napravih kutiikite 100% zashtoto izglejadt op qko */
  width: 100%;

  /* mahnah ti padding, za da ne ti pravi kutiite tolkova golemi (tova si misleh che iskash) */
  /* padding: 12px 20px; */

  margin: 8px 0;
  /* box-sizing: border-box; */
  border: none;
  border-bottom: 2px solid rgb(32, 0, 0);
  background-color: #320000;
  padding: 10px;
  outline: none;
  color: #DFDFDF;
}

input[type=button] {
  position: center;
  background-color: #001514;
  color: white;
  padding: 14px 20px;
  margin: auto;
  border: none;
  cursor: pointer;

  /* Dobavih malko style na butonite */
  border-radius: 5px;

}

input[type=button]:hover {
  background-color: rgb(105, 4, 4);
  opacity: 0.8;
  transition: 0.3s;
}

.Result {
  background-color: #230000;
  /* max-width: 100%; */
  color: #234926;
  border-radius: 10px;
  box-shadow: none;
  font-size: large;
}

label {
  color: #9e9e9e;
  font-size: medium;
}

#square-meter-result {
    font-size: large;
    color: #DFDFDF;
}

#cubic-meter-resut{
    font-size: large;
    color:#DFDFDF;
}

#hours-worked{
    font-size: large;
    color:#DFDFDF;
}
.box{
  display: flex;
  flex-direction: column;
min-width: 20%;

   /* ivka slaga neshta tuk */

  background-color: #320000;
  /* Div-a ti trqbva da e po maluk ot 100 procenta i da e centriran s margin */
  /* max-width: 80%; */
margin: auto;

  text-align: left;
  /* text-align: left; */
  font-size: 20px;


  /* smenih fonta i cveta navsqkude */
  font-family: Arial, Helvetica, sans-serif;
  color: #DFDFDF;

  /* Dadoh razstoqnie, za da ne trqbva teksta i vsichko da e zalepeno za stenite na divovete */
  padding: 2%;
  margin-top: 20px;
  margin-bottom: 20px;

  /* stilizirah divovete da izglejdat fancy */
  border-radius: 5px;
  box-shadow: 2px 2px 4px #1b1b1b;

  /* justify-content: center; */
}
.wrapper{
  
}
.boxWrapper{
  display: flex;
  flex-direction: row;
}
.buttonWrapper{
  display: flex;
  justify-content: center;
}
.formClass{
  display:flex;
  flex-direction: column;
}
@media only screen  and (max-device-width: 900px) {
  body{
    width: 90%;
  }
  .boxWrapper{
    display: inline;
    flex-direction: column;
  }

}
